.profile__top
    .container
        .row
            .col-xs-12
                .profile__icon
                    img(src="img/user-img.png")
                .profile__info
                    .profile__top__name Пример Примеров
                    .profile__status инвестор
                .profile__link 
                    a(href="") Профиль
                .profile__menu
                    ul
                        li
                            a(href="#") В работе
                                span.profile__in__work (2)
                        li
                            a(href="#").active Договоры
                        li
                            a(href="#") Сопровождение
                        li
                            a(href="#") Информация