//- Insert common template for all pages
extends ./templates/_base-template

block head
    - var pageTitle = 'Title';

block content
    main.many__projects
        .project
            .container
                .project__title Технологии сегодня
                #project__wrapper
                    .project__item.project__item--new.project__item--garanty
                        span.right__icon 
                            span.big__word Гарантия 
                            span.money__count Качество
                        .project__item__left
                            .project__left
                                a(href="index.html").project__pic
                                    img(src='img/card-1.jpg')
                            .project__right
                                .project__reyting
                                    .project__star.project__one__star
                                        img(src="img/one-star.png")
                                    .project__star.project__two__star
                                        img(src="img/one-star.png")
                                    .project__star.project__three__star
                                        img(src="img/one-star.png")
                                    .project__star.project__four__star
                                        img(src="img/one-star.png")
                                    .project__star.project__five__star
                                        img(src="img/one-star.png")    
                                .project__summ
                                    span 1 500 000
                                .project__proc
                                    span 30
                                .project__time
                                    span более 6 лет
                                .project__por
                                    span Скорость работы
                                .project__zalog
                                    i.icon-1
                                    span Внимание к деталям
                                .project__city
                                    span Киев
                        .project__item__right
                            a(href="index.html").project__name Разнообразный и богатый опыт
                            .project__text Разнообразный и богатый опыт консультация с широким активом играет важную роль в формировании новых предложений. Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации модели развития. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа направлений прогрессивного развития. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет оценить значение модели развития.

                    .project__item.project__item--new
                        .project__item__left
                            .project__left
                                a(href="index.html").project__pic
                                    img(src='img/card-2.png')
                            .project__right
                                .project__reyting
                                    .project__star.project__one__star
                                        img(src="img/one-star.png")
                                    .project__star.project__two__star
                                        img(src="img/one-star.png")
                                    .project__star.project__three__star
                                        img(src="img/one-star.png")
                                    .project__star.project__four__star
                                        img(src="img/one-star.png")
                                    .project__star.project__five__star
                                        img(src="img/one-star.png") 
                                .project__summ
                                    span 1 500 000
                                .project__proc
                                    span 30
                                .project__time
                                    span более 6 лет
                                .project__por
                                    span Скорость работы
                                .project__zalog
                                    i.icon-1
                                    span Внимание к деталям
                                .project__city
                                    span Киев
                        .project__item__right
                            a(href="index.html").project__name Задача
                            .project__text Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке форм развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании форм развития.

                    .project__item
                        .project__item__left
                            .project__left
                                a(href="index.html").project__pic
                                    img(src='img/card-3.png')
                            .project__right
                                .project__reyting
                                    .project__star.project__one__star
                                        img(src="img/one-star.png")
                                    .project__star.project__two__star
                                        img(src="img/one-star.png")
                                    .project__star.project__three__star
                                        img(src="img/one-star.png")
                                    .project__star.project__four__star
                                        img(src="img/one-star.png")
                                    .project__star.project__five__star
                                        img(src="img/one-star.png") 
                                .project__summ
                                    span 1 500 000
                                .project__proc
                                    span 30
                                .project__time
                                    span более 6 лет
                                .project__por
                                    span Скорость работы
                                .project__zalog
                                    i.icon-1
                                    span Внимание к деталям
                                .project__city
                                    span Киев
                        .project__item__right
                            a(href="index.html").project__name Длинное название, которое не умещается в одну строку
                            .project__text Таким образом рамки и место обучения кадров играет важную роль в формировании систем массового участия. Таким образом укрепление и развитие структуры требуют определения и уточнения форм развития. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.